*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #080808;
    color: white;
}
#header{
    height: 100vh;
    width: 100%;
    
    background-image: url("file_0000000045f0720baab3ffef280c0f3f-removebg-preview.png");
    
    background-position:center;
    background-repeat: no-repeat;
    position: absolute;
    
    
}
.nav{
    padding: 30px;
    display: flex;
justify-content: space-around;
flex-wrap: wrap;}
ul{
    list-style: none;
    display: flex;
    gap: 60px;
    color: white;
}
h1{
font-weight: 300rem;
}


.Navlist ul li a{
color:white;
text-decoration: none;
font-size: 30px;
position: relative;


}
.Navlist ul li a::after{
    content: '';
    width: 0px;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0px;
    bottom: -6px;
      transition: 0.5s;

}
.Navlist ul li a:hover::after{
    width: 100%;
    content: '';
    
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0px;
    bottom: -6px;
  

}
.headertext{
padding-left: 100px;
padding-top: 300px;
font-size: 20px;
}
.headertext h1{
    font-size: 60px;

}
.headertext h1 span{
    color: #ff004f;

}


#about{
    padding-top: 1000px;
    padding-left: 10px;
    

}
.row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.about-col-1{
    
    border-radius: 15px;

}
.about-col-2{
    
    

}
.sub-title{
    font-weight: 600;
    font-size: 2rem;
    color: white;


}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;


}
.tab-links{
    margin-right:50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position:absolute;
    left: 0;
    bottom: -8px;
    transition: 0.10s;

}

.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin:10px 0;

}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}